<!DOCTYPE html>
<html lang="ru">

<head>
  <%- include('includes/head', {title:"Каталог", description:"разработка сайта под ключ любой сложности"}); %>
</head>

<body>
  <main>
    <strong>main content</strong>
    <ul>
      <% cars.forEach( (car) => { -%>
      <li><%= car %></li>
      <% }); -%>
    </ul>
  </main>
  <%- include('includes/footer') %>
</body>

</html>