<!DOCTYPE html>
<html lang="ru">

<head>
  <%- include('includes/head', {title:"Главная страница", description:"разработка сайта под ключ любой сложности"}); %>
</head>

<body>
  <%- include('includes/layout') %>
  <%- include('includes/footer') %>
</body>

</html>